/*WHOLETABLE STYLE*/
.wholetable {
    border-collapse: 1em;
    border-color: black;
    border: 1px solid black;
    background-color: white;
    width: 100%;
}

.wholetable td {
    padding: 20px; 
}

/*PSU LOGO AND TITLE STYLE*/
.imagetext {
    display: flex;
    align-items: center;
    max-width: 100%; 
}
  
.textimage {
    margin-left: 20px; 
    font-family: 'Arial';
    font-size: 14px;
    color: black;
    text-align: center;
}

.logo {
    max-width: 150px; 
    margin-top: 50px;
    margin-left: 650px; 
    display: block; 
}

.psutext {
    font-size: 20px;
}

.clear {
    clear: both;
}

/*CERTIFICATE TITLE STYLE*/
.certtitle {
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    letter-spacing: 7px;
}

.reginfo {
    font-weight: bold;
    font-family: Arial;
    font-size: 14px;
    margin-bottom: 10px;
}

.regnumber {
    color: darkred;
}

/*SECOND WHOLE TABLE STYLE*/
.wholetabletwo {
    border-collapse: collapse;
    border-color: black;
    border: 1px solid black;
    background-color:  white;
    width: 100%;
    font-family: arial, sans-serif;
}

.wholetabletwo td {
    padding: 0;
}

/*STUDENT GENERAL INFO STYLE*/
.studentgeneralinfo
{
    border-collapse: collapse;
    border-color: black;
    border-bottom: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color:  #d7d1ff;
    width: 100%;
    padding: 0;
    
}

.studentgeneralinfo th
{
    border-collapse: collapse;
    border-color: black;
    border: none;
    background-color:  #d7d1ff;
    width: 100%;
    padding: 8px;
    font-weight: bold; 
    font-family: Arial; 
    font-size: 16px;
    text-align: center; 
    color:black;
    height: 10px; 
}

/*STUD INFO STYLE NAME, COURSE, PROGRAM ETC*/
.studinfo {
    border-collapse: separate;
    border: none;
    border-spacing: 0;
    width: 100%;
}

.studinfo td {
    padding: 5px 10px; 
    font-size: 14px; 
    font-weight: bold;
}

.style {
    font-weight: normal;
}
